backend:                         pdf
pgf.texsystem:                   lualatex
pgf.preamble:                    \input{header-matplotlib-talk.tex}
text.usetex:                     True

font.weight:                     light
font.size:                       15.0
font.sans-serif:                 "Fira Sans"
font.serif:                      "Fira Sans"
font.monospace:                  "Fira Code"

# mathtext.cal:                    cursive
# mathtext.rm:                     serif
# mathtext.tt:                     monospace
# mathtext.it:                     serif:italic
# mathtext.bf:                     serif:bold
# mathtext.sf:                     sans
# mathtext.fontset:                custom

axes.titlesize:                  large
axes.titleweight:                light
axes.labelsize:                  medium
axes.labelweight:                light

xtick.labelsize:                 12
ytick.labelsize:                 12
legend.fontsize:                 medium

figure.titleweight:              light
figure.figsize:                  7.05, 4.41
figure.dpi:                      200
figure.constrained_layout.use:   True
figure.constrained_layout.h_pad: .00
figure.constrained_layout.w_pad: .00
savefig.bbox:                    tight
savefig.pad_inches:              .02
