backend:                         pdf
pgf.texsystem:                   lualatex
pgf.preamble:                    \input{header-matplotlib-thesis.tex}
text.usetex:                     True

font.family:                     serif
font.size:                       10
font.serif:                      cmr10

xtick.labelsize:                 9
ytick.labelsize:                 9
mathtext.fontset:                cm
legend.fontsize:                 medium

figure.figsize:                  4.91, 3.03
figure.dpi:                      200
figure.constrained_layout.use:   True
figure.constrained_layout.h_pad: .00
figure.constrained_layout.w_pad: .00
savefig.bbox:                    tight
savefig.pad_inches:              .02
