# vim: ft=gitconfig commentstring=#%s
[core]
	editor = vim
[user]
	name = Noah Biederbeck
[pull]
	rebase = true
[merge]
	conflictstyle = diff3
	tool = nvim
[mergetool "nvim"]
	cmd = nvim -d "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
    trustExitCode = false
[credential]
	helper = cache --timeout=10800
[alias]
    l = log --oneline
    ll = log --color --graph --date=short --pretty=format:\"%Cblue%ad %Cgreen%an %C(yellow)%h %Creset%s %Cred%d %n%Creset%b\"
    ol = log --oneline
    c = commit --verbose
    d = diff
    cm = commit --verbose
    co = checkout
    br = branch
    s = status
    a = add
[log]
    date = iso
[color "status"]
	header = white bold
