# vim: ft=gitconfig commentstring=#%s

[core]
    editor = nvim
	excludesfile = /home/noah/.gitignore

[user]
    name = Noah Biederbeck
    email = noah.biederbeck@tu-dortmund.de
    useConfigOnly = true
	signingkey = 5B2B794005C09CF8

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    line-numbers = true
    syntax-theme = Nord

[pull]
    rebase = true

[merge]
    conflictstyle = diff3
    tool = nvim
    trustExitCode = false

[mergetool "nvim"]
      cmd = nvim -f -c "Gvdiffsplit!" "$MERGED"

[mergetool]
    keepBackup = false

[log]
    date = iso

[alias]
    l = log --oneline
    ll = log --color --graph --date=short --pretty=format:\"%Cblue%ad %Cgreen%an %C(yellow)%h %Creset%s %Cred%d %n%Creset%b\"
    ol = log --oneline
    c = commit --verbose
    d = diff
    cm = commit --verbose
    co = checkout
    br = branch
    s = status
    a = add

[init]
	defaultBranch = main

[bash]
	showInformativeStatus = true
	showUntrackedFiles = true
	showDirtyState = true

[commit]
	gpgsign = true

[github]
    user = nbiederbeck
