nvim/.config/nvim/undo/
nvim/.config/nvim/spell/
nvim/.config/nvim/.netrwhist

ranger/.config/ranger/bookmarks
ranger/.config/ranger/history

tmux/.tmux/plugins/
*.log

qutebrowser/.config/qutebrowser/qsettings
qutebrowser/.config/qutebrowser/autoconfig.yml

fish/.config/fish/fishd.*
fish/.config/fish/functions/fisher.fish
fish/.config/fish/fish_variables
