nvim/.config/nvim/undo/
nvim/.config/nvim/spell/
nvim/.config/nvim/.netrwhist

ranger/.config/ranger/bookmarks
ranger/.config/ranger/history

tmux/.tmux/plugins/
*.log

qutebrowser/.config/qutebrowser/qsettings
