@theme "Arc-Dark"

configuration {
	font: "JetBrains Mono 13";
	location: 0;
	separator-style: "dash";
	hide-scrollbar: true;
	scrollbar-width: 0;
	fake-background: "background";
	display-run: "🔍";
	kb-mode-next: "Shift+Right,Control+Tab,L";
	kb-mode-previous: "Shift+Left,Control+Shift+Tab,H";
	kb-row-up: "Up,Control+p,Shift+Tab,Shift+ISO_Left_Tab,K";
	kb-row-down: "Down,Control+n,J";
}
